.carousel {
    background: black;
    height: 660px;

    .icon-next, .icon-prev {
        font-size: 70px;
    }

    .carousel-inner > .item > .img,
    .carousel-inner > .item > a > .img {
        width: 100%;
        height: 660px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}