.about {
    background: #0889ff;
    color: white;

    .row {
        height: 725px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        .col-md-6:first-child {

            h1 {
                font-size: 40px;
                font-weight: bold;
                padding-left: 45px;
            }

            p {
                font-size: 21px;
                margin-top: 30px;
            }
        }

        .col-md-6:last-child {
            padding-right: 0;
        }
    }
    

    .btn {
        padding: 10px 55px;
        border: 1px solid white;
        border-radius: 25px;
        margin-top: 30px;
        margin-left: 45px;

        &:hover {
            background: rgba(255,255,255, 0.2);
            color: white;
        }
    }
}

@media (max-width: 990px) {
    .about {
        .col-md-6:last-child {
            display: none;
        }
    }
}