.mobile {
    background-color: white;

    p {
        padding-top: 50px;
        font-size: 16px;
        color: #b1b1b1;
    }

    .row {
        height: 1040px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/images/iPhone_6.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% center;

        .col-xs-5 {
            padding-left: 90px;
            margin-top: -100px;
        }
    }

    .btn {
        color: white;
        padding: 25px 50px;
        border: 1px solid white;
        border-radius: 50px;
        margin-top: 30px;
        background: #eb6662;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;

        &:hover {
            background: darken(#eb6662, 5%);
        }
    }
}

@media (max-width: 990px) {
    .mobile {
        .row {
            background-image: none;
        }
    }
}

@media (max-width: 1300px) {
    .mobile {
        .row {
            background-size: 60%;
        }
    }
}