.team {
    .row:first-child {
        height: 145px;
        background-color: #f4f4f4;
        text-align: center;

        span {
            line-height: 145px;
            font-size: 42px;
        }
    }
    .row:last-child {
        .team-content {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 280px;
            padding: 0;

            .img {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
            }
            
            summary {
                display: none;
                position: absolute;
                padding-left: 20px;
                h4 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 3px;
                }
                p {
                    font-size: 18px;
                }
            }

            &:nth-child(1) .img {
                background-image: url('/images/team-1.jpg');
                background-position: 50% 80%;

            }
            &:nth-child(2) .img {
                background-image: url('/images/team-2.jpg');
                background-position: 100% 20%;
                background-size: cover;
            }
            &:nth-child(3) .img {
                background-image: url('/images/team-3.jpg');
                background-position: 35% 0%;
                background-size: 300%;
            }
            &:nth-child(4) .img {
                background-image: url('/images/team-4.jpg');
                background-position: 65% 0%;
                background-size: cover;
            }
            &:nth-child(5) .img {
                background-image: url('/images/team-5.jpg');
                background-position: 55% 0%;
                background-size: cover;
            }

            &:hover {
                .img {
                    -webkit-filter: brightness(40%);  /* Chrome, Safari, Opera */
                    filter: brightness(40%);
                }
                summary {
                    display: block;
                    color: white;
                }
            }
        }
    }
}