.works {
    .works-header {
        height: 145px;
        background-color: #f4f4f4;
        text-align: center;

        .title {
            font-size: 42px;
            line-height: 135px;
        }

        .text {
            float: right;
            font-size: 16px;
            line-height: 145px;
            padding-right: 20px;
        }
    }
    .works-content {
        height: 480px;
        background: white;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0;

        .img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }

        summary {
            display: none;
            position: absolute;
            h4 {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 3px;
            }
            p {
                font-size: 18px;
            }
        }

        &:hover {
            .img {
                -webkit-filter: brightness(40%);  /* Chrome, Safari, Opera */
                filter: brightness(40%);
            }
            summary {
                display: block;
                color: white;
            }
        }
    }

    .works-1 .img {
        background-color: gray;
    }

    .works-2 .img {
        background-color: darken(gray, 5%);
    }

    .works-3 .img {
        background-color: darken(gray, 10%);
    }

    .works-4 .img {
        background-color: darken(gray, 15%);
    }

    .works-5 .img {
        background-color: darken(gray, 20%);
    }

    .works-6 .img {
        background-color: darken(gray, 25%);
    }
}