footer {
    background: #1b1b1b;
    color: white;
    min-height: 180px;

    > div:first-child {
        padding-top: 30px;
    }

    > div, nav {
        padding-left: 65px !important;
        padding-right: 120px !important;
    }
    
    .logo {
        font-size: 20px;
        letter-spacing: 3px;
    }

    hr {
        border-top: 1px solid rgba(256,256,256,0.1);
    }

    nav {
        > div {
            padding-left: 0 !important;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    a {
        color: rgba(256,256,256,0.5);
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;

        &:hover {
            color: white;
        }
    }
}


@media (max-width: 990px) {
    footer {
        text-align: center;
         > div, nav {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        
        nav {
            padding: 0 0 15px 0;
        }
    }
}