header {
    background: white;
    text-align: center;

    > div:first-child {
        padding: 45px;
    }

    .logo {
        font-size: 30px;
        letter-spacing: 4px;
    }

    nav {
        letter-spacing: 1px;
        font-size: 13px;
        padding: 45px;

        div {
            vertical-align: middle;
            padding: 12px 25px;

            &:last-child {
                a {
                    border: 1px solid #eb6662;
                    border-radius: 25px;
                    padding: 10px 25px;
                }
            }
        }

        a {
            color: black;
            text-decoration: none;

            &:hover {
                color: #eb6662;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        > div:first-child {
            padding: 45px 45px 0 45px;
        }
        nav {
            padding-top: 45px;
            div {
                &:last-child {
                    margin: 0 15px 10px;
                }
            }
        }
    }
}