@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-Italic-webfont.ttf') format('truetype');
  font-style: italic;;
}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;;
}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;;
}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-Light-webfont.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans";
}

/** Define 15 column grid */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}